<!DOCTYPE html>
<html>
  <%= erb :_head %>
  <body>
    <%= erb :_navbar %>
    <div class="box1" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= repo %> Name (ICPC)</h5>
        <p class="card-text">A description here. sladjflasd f.sf sldkf sfkdfls fsladf s</p>
        <div class='card-bottom'>
          <p style="fill: <%= @lc.color('cpp') %>"><%= dot %></p>
        </div>
      </div>
    </div>
    <%= erb :_footer %>
  </body>
</html>
