<!DOCTYPE html>
<html lang="en">
  <%= erb :_head %>
  <body>
    <%= erb :_navbar %>
    <%= erb :_searchbar %>
    <div class='masonry'>
      <% @temp_var.each do |f| %>
        <%= erb :card, locals: {repo: repo, dot: dot,
            star: star, forked: forked, lc: @lc, f: f } %>
      <% end %>
    </div>
    <%= erb :_footer %>
  </body>
</html>
